<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.vate">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vate"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vate_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.VATE">
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="d195f9980729d0aad71fda911dc08672"/>
        <activity
            android:name=".activity.SignupEmailActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SignupActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.SignupGenderActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.SignupCenterNameActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.SignupId1365Activity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.SignupBirthdayActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.SignupNameActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.SignupPhoneNumberActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.FindLoginIdActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.FindPasswordActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.PasswordCertificationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".activity.MypageActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".activity.EditPasswordActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".activity.MapActivity"
            android:exported="true">
        </activity>

        <activity android:name=".activity.FilteringActivity"
            android:exported="true">
        </activity>

        <activity android:name=".activity.VolunteerDetailActivity"
            android:exported="true">
        </activity>

        <activity android:name=".activity.ApplicationActivity"
            android:exported="true">
        </activity>

        <activity android:name=".activity.ApplicationCompleteActivity"
            android:exported="true">
        </activity>

        <activity android:name=".activity.ApplicationDetailActivity"
            android:exported="true">
        </activity>

        <activity android:name=".activity.ApplicationCancelCompleteActivity"
            android:exported="true">
        </activity>

        <activity android:name=".activity.TimeTableActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>